.Main_Blog_Image_1{
    top: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1; 

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(255,255,255,0) 100%),url(../assets/images/mining-car.jpeg);
    animation: Appear 1s 1 normal;
}




.Blog1{
    z-index: 1;
    position: relative;

    flex-direction:column;
    display:flex;
}

.title {
    z-index: 1;
    color: rgb(10, 10, 10);
    display: flex;
    display: block;
    position: relative; 
    margin-top: 4rem;
    &__container{
    display: flex;
    justify-content: center;
    background-color:rgb(245, 245, 245);

    &--title{
            text-align: center;
            line-height:4rem;
            width: clamp(20rem, 70vw,75rem);
            font-size: clamp(1rem,70vw,2.7rem);
            
        }
    }
}

.text{
        display: flex;

        justify-content:center;
        margin-top: 4rem;
        width: 100%;

    &__container{
        width: 60%;
        
        &--text{
            margin-top: 6rem;
                font-size: clamp(1rem,70vw,1.5rem);
                line-height: clamp(1.5rem,70vw,2.2rem);

        }
    }
}