.AboutMe{
    z-index: 1;
    position: relative;
    align-items: center;
    flex-direction:column;
    width:100%;
    display:flex;
    &__container{
        font-size:large;
        width:50%;
        justify-content:space-evenly;
        height: 90vh;
        display: flex;
        flex-direction: column;
        &--title{
            display:flex;
        }
        &--description{
            width: 100%;
        }
        &--icon{
            display:flex;

    flex-direction: row;

        }
    }
}

.email{
    display:flex;
    align-items: center;
}